.footer-root {
  width: 100%;
  height: 57px;
  position: fixed;
  bottom: 0;
  background: #fff;
  border-top: 1px solid #ebebeb;
  user-select: none;
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.footer-root .icon-container,
.footer-root .button-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.icon-container {
  justify-content: flex-start;
}

.button-container {
  justify-content: flex-end;
}

.icon-container img {
  cursor: pointer;
}

.footer-root .icon-chart {
  width: 25px;
  height: 20.4px;
  margin-right: 12px;
}

.footer-root .icon-video {
  width: 22px;
  height: 22px;
  margin-right: 31px;
}

.footer-root .icon-image {
  width: 20px;
  height: 20px;
  margin-right: 33px;
}

.button-container > div {
  padding: 8px 26px 7px;
  font-family: Vazir;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;
  border-radius: 8px;
  color: #fff;
  background: #3e92e6;
  margin-left: 12px;
  cursor: pointer;
}
