.image-list {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  user-select: none;
  padding: 12px;
}

.image-list > div {
  height: 166px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 9px;
  position: relative;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-width: calc(50% - 8px);
  border-radius: 8px;
}

.image-list > div:nth-child(odd):not(:last-child) {
  margin-left: 8px;
}

.cross-button {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 30px;
  height: 30px;
  font-size: 14px;
  font-weight: lighter;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  background: rgba(74, 74, 74, 0.8);
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .image-list {
    padding: 16px;
  }

  .image-list > div {
    height: 271.5px;
  }
}
