.select-container {
  width: 146px;
  background-color: #f4f4f4;
  border-radius: 15.5px;
  user-select: none;
  max-height: 400px;
  transition: max-height 0.5ss ease-out;
}

.select-container.folded {
  max-height: 32px;
  transition: max-height 0.5s ease-out;
}

.select-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  cursor: pointer;
  background-color: #f4f4f4;
}

.select-option:not(.non-selectable):hover {
  background-color: #d4d4d4;
  transition: background-color 0.5s;
}

.option-text {
  font-family: Vazir;
  font-size: 12px;
  color: #4a4a4a;
  letter-spacing: 0;
  text-align: right;
}

.select-option.non-selectable .option-text {
  font-weight: bold;
}

/* spacing between passed items */
.select-option:not(.non-selectable) .option-text {
  padding: 4px 0 4px;
}

/* spacing between last passed option and add button */
.select-option.add-option {
  padding: 8px 12px 7px;
  border-radius: 0 0 15.5px 15.5px;
}

/* spacing between placeholder and first passed option */
.select-option:first-child:not(:only-child) {
  padding: 7px 12px 8px;
  border-radius: 15.5px 15.5px 0 0;
}

/* folded option */
.select-option:first-child:only-child {
  padding: 7px 12px;
  border-radius: 15.5px;
}

.option-text,
.option-icon {
  display: flex;
  flex-direction: column;
}

.arrow {
  border: solid #3e92e6;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
}

.arrow.up {
  transform: rotate(-135deg);
  transition: transform 0.5s ease;
}

.arrow.down {
  transform: rotate(45deg);
  transition: transform 0.5s ease;
}

.plus {
  color: #3e92e6;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  transform: rotate(45deg);
}

.new-category-container {
  padding: 8px 12px;
}

.new-category-container > input {
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 3px 12px;
  font-family: Vazir;
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.65);
}

.new-category-container > input::placeholder {
  color: rgba(0, 0, 0, 0.65);
  opacity: 1;
}
.new-category-container > input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.65);
}
.new-category-container > input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.65);
}

.new-category-container.has-error > input {
  color: rgba(255, 0, 0, 0.65);
}
.new-category-container.has-error > input::placeholder {
  color: rgba(255, 0, 0, 0.65);
  opacity: 1;
}
.new-category-container.has-error > input:-ms-input-placeholder {
  color: rgba(255, 0, 0, 0.65);
}
.new-category-container.has-error > input::-ms-input-placeholder {
  color: rgba(255, 0, 0, 0.65);
}

.select-container .non-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px 12px;
}

.select-container .non-option .button {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0 20px;
  border-radius: 4px;
  font-family: Vazir;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: #ffffff;
  background-color: #3e92e6;
}

@media only screen and (min-width: 768px) {
  .select-container {
    width: 156px;
  }
}

@media only screen and (min-width: 1024px) {
  .select-container {
    width: 186px;
  }
}
