.profile-input-container > * {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  outline: none;
  color: #424242;
}

.profile-input-container > *::placeholder {
  color: #bebebe;
  opacity: 1;
}
.profile-input-container > *:-ms-input-placeholder {
  color: #bebebe;
}
.profile-input-container > *::-ms-input-placeholder {
  color: #bebebe;
}

.profile-input-container > textarea {
  min-height: 85px;
}
