.select-container {
  position: absolute;
  top: 21px;
  left: 12px;
}

.title-container input {
  padding: 0 12px;
  font-size: 18px;
  font-family: Vazir;
  font-weight: bold;
  line-height: 28px;
}

.body-container textarea {
  padding: 0 12px;
  line-height: 12px;
  font-family: Vazir;
  line-height: 18px;
  margin-top: 12px;
}

.image-list {
  margin-bottom: 57px;
}

@media only screen and (min-width: 768px) {
  .select-container {
    left: 16px;
  }
}
