* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  direction: rtl;
  text-align: right;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Vazir;
  src: url(./assets/fonts/Vazir/Vazir.eot);
  src: url(./assets/fonts/Vazir/Vazir.eot?#iefix) format('embedded-opentype'),
    url(./assets/fonts/Vazir/Vazir.woff2) format('woff2'),
    url(./assets/fonts/Vazir/Vazir.woff) format('woff'),
    url(./assets/fonts/Vazir/Vazir.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url(./assets/fonts/Vazir/Vazir-Medium.eot);
  src: url(./assets/fonts/Vazir/Vazir-Medium.eot?#iefix)
      format('embedded-opentype'),
    url(./assets/fonts/Vazir/Vazir-Medium.woff2) format('woff2'),
    url(./assets/fonts/Vazir/Vazir-Medium.woff) format('woff'),
    url(./assets/fonts/Vazir/Vazir-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url(./assets/fonts/Vazir/Vazir-Bold.eot);
  src: url(./assets/fonts/Vazir/Vazir-Bold.eot?#iefix)
      format('embedded-opentype'),
    url(./assets/fonts/Vazir/Vazir-Bold.woff2) format('woff2'),
    url(./assets/fonts/Vazir/Vazir-Bold.woff) format('woff'),
    url(./assets/fonts/Vazir/Vazir-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}
